<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>

  <body
    style="background-color:rgb(187, 183, 183);
    text-align:center;"
  >
    <div style="margin:70px; " class="sex">
      <h1>URL Shortener</h1>
      <form action="/shortUrls" method="POST" class="form-group">
        <label for="fullUrl" class="sr-only"></label>
        <input
          style="width:70%; height:35px"
          type="url"
          required
          placeholder=" Enter Url"
          name="fullUrl"
          id="fullUrl"
          class="sr-only"
        />
        <button type="submit" class="btn btn-success">Url shortner</button>
      </form>
      <table
        style="width:80%; height:35px; margin-left:116px; margin-top:20px"
        class="table table-striped table-responsive"
      >
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
        </tr>
        {{!-- using #each for loop for looping in database --}}
        {{#each this.shortUrls as |shortUrl|}}

          <tr>
            <td><a href="{{shortUrl.full}}">{{shortUrl.full}}</a></td>
            <td><a href="{{shortUrl.short}}">{{shortUrl.short}}</a></td>
          </tr>

        {{/each}}
      </table>
    </div>
  </body>
</html>